ArtificialIntelligent/ai
ArtificialIntelligent/ann.o
ArtificialIntelligent/core.o
xwindow/imageViewer/bmp.o
xwindow/imageViewer/imgViewer
xwindow/imageViewer/jpg.o
xwindow/imageViewer/util.o
xwindow/imageViewer/viewer.o
ArtificialIntelligent/data/t10k-images.idx3-ubyte
ArtificialIntelligent/data/t10k-labels.idx1-ubyte
ArtificialIntelligent/data/train-images.idx3-ubyte
ArtificialIntelligent/data/train-labels.idx1-ubyte
ArtificialIntelligent/linkedlist.o
ArtificialIntelligent/main.o
ArtificialIntelligent/random.o
ArtificialIntelligent/readSetFile.o

